@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom, #033a81, #056CF2, #F2F2F2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #D97904;
    text-align: center;
    height: 200px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: -60px;
    margin-top: -2em;
    position: relative;
}

header > h1{
    margin-bottom: 5px;
    font-size: 3em;
    margin-top: 30px;
}

header > nav {
    color:  #033a81;
    font-weight: bold;
    font-size: 2em;
    margin-right: 1em;
    text-align: center;
    margin-bottom: 0px;
    text-decoration: none;
    padding: 5px;
}


header > nav > a{
    color:  #033a81;
    font-weight: bold;
    font-size: 1em;
    margin-right: em;
    text-align: left;
    margin-bottom: 0px;
    text-decoration: none;
    padding: 5px;
}

header > nav > a:hover{
    background-color: #056CF2;
    text-decoration: underline;
    border-radius: 5px;
    color: whitesmoke;
}

main{
    background-color: #F2F2F2;
    min-height: 1000px;
    max-width: 100%;
    margin: auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.301);
    padding: 2em;
     
}

.titulocarboidratos{
    color: #D97904;
    background-image: linear-gradient(to left, #975503, transparent);
    font-weight: bold;
    font-size: 3em;
    border-bottom-right-radius: 10px;
}

.textocarboidratos{
    color: black;
    font-size: 1.5em;
}


@media only screen and (max-width: 600px) {
    header > h1 {
        font-size: 3em;
        margin-top: 0.4em;
    }

    header > nav {
        flex-direction: column;
    }

    header > nav > a {
        font-size: 0.7em;
        margin-right: px;
        margin-left: -10px;
    }
}